KUEST_CHAIN_MODE=amoy
SITE_NAME=Kuest
REOWN_APPKIT_PROJECT_ID=
APP_URL=https://auth.kuest.com
APP_ICON=https://auth.kuest.com/kuest-logo.svg
CLOB_URL=https://clob.kuest.com
RELAYER_URL=https://relayer.kuest.com
POSTGRES_URL=
KUEST_DEBUG_ERRORS=false
